---
import "../styles/components/globe-background.css";
---

<div class="globe-background" id="globe-background">
    <canvas id="globe-canvas"></canvas>
</div>

<script>
    import "../scripts/globe.ts";
</script>
